body {
  background-color: #8bbccc;
}
h1,
h2 {
  color: #5c2e7e;
  text-shadow: 5px 5px 6px white;
}
hr {
    background-color: #8bbccc;
  border-color: #4C6793;
  width: 90%;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
}

p{
    text-align: justify;
}